<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Main</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                  </li>
                 
                </ul>
              </nav>

<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-8 col-md-6">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repellendus in accusamus modi voluptatibus esse, praesentium consequatur harum excepturi adipisci velit doloremque eum alias nam magni aperiam ratione, quasi nobis?
        </div>

        <div class="col col-12 col-sm-4 col-md-6">
 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus dolores modi, exercitationem perferendis nisi ipsam! Facere error, earum libero blanditiis possimus perferendis omnis odio dolorum quisquam debitis tenetur voluptatibus eligendi!           
        </div>


    </div>

</div>
    
</body>
</html>